namespace: &base_name petclinic

app:
  name: *base_name

  app_label: *base_name

  deployment:
    replicas: 2
    applicationPort: "8080"
    registrySecretName: dockerhub-credentials
    containerImageName: spring-petclinic
    containerImageTag: "1"
    databaseUrl: petclinic-db-service:3306

  service:
    protocol: TCP
    port: 80
    type: NodePort
    NodePort:

db:
  name: &base_db_name petclinic-db

  app_label: *base_db_name

  servicePort: 3306

  deployment:
    db_name: *base_name
    containerImageTag: "9.5"

  secret:
    name: mysql-secret
    db_user: *base_name
    db_pass: *base_name
